## 5.1.1-TXT文本存储


本节中，我们要保存知乎上“发现”页面的“热门话题”部分，将其问题和答案统一保存成文本形式。

In [6]:
import requests
from pyquery import PyQuery as pq


url = 'https://www.zhihu.com/explore'
headers = {
    'User-Agent':'Mozilla/5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/64.0.3282.186 Mobile Safari/537.36'
}
html = requests.get(url, headers=headers).text
doc = pq(html)
items = doc('.explore-tab .feed-item').items()
for item in items:
    question = item.find('h2').text()
    author = item.find('.author-link-line').text()
    answer = pq(item.find('.content').html()).text()
    with open('explore.txt', 'a', encoding='utf-8') as f:
        f.write('\n'.join([question, author, answer]))
        f.write('\n' + '='* 50 + '\n')

如何用平淡的语气写出虐到让人喘不过气，或让读者感到震撼、震惊的感觉？
戈玄白
在我选择读法律前，曾看过一部小说，叫《原谅我红尘颠倒》。作者是慕容雪村，当年的网络四大写手之一，在天涯论坛很有名气。


他的小说总是把现实写的很刻薄，这本讲律师的书语调平缓，却在叙述一个残酷的世界，让你不敢信而又不能不信。实体书的结尾，作者写道这整本书都不过是男主角的一场梦，大梦惊醒后一切回到起点，于是罪恶消散黑暗隐退，主人公决定幡然悔悟拉女朋友去结婚，决定从此做个好人。


但这不过是为了出版而改的结局，在连载版中男主是被作者写死了的，作者后来在网上说：我不能不把他写死，我把他塑造成了一个这样的形象，如果他不是以死赎罪我自己都接受不了。（大意如此，我以前看到的）


但主人公实在是让人又爱又恨，他并非从来就是这样一个冷血的性子，而是由来有自、为现实所迫的。因此在鄙夷之外，读者又很难不去同情他。


缘何身染红尘，只因生在红尘中。缘何红尘颠倒，只因人世本非正。






84年暑假，有个农民带了3只鸡和42个鸡蛋到镇上赶集，想卖了钱给儿子交学费，没想一出门就遇上了公安局，那年头的公安局爱喝鸡汤，立马铐了起来，鸡和蛋全部收归国有，还说犯了投机倒把罪，要判刑。这家人慌了，四处借了260元钱，派他儿子送到派出所，赶到时天已经黑了，整个派出所弥漫着炖鸡香味，所长大人头戴大沿帽，手执肥鸡腿，左啃一口右啃一口，样子威武庄严，十分专政。


那农民铐在墙边的栏杆上，衣服全撕破了，身上血迹斑斑，趴在地上一动不动，不知是死是活。他儿子把钱送上，吓得话都说不出来。


所长剔了剔牙，问他：“几岁了？干什么的？”


那儿子回答：“15了，学生。”


所长把钱收下，用油乎乎的手拍拍他的头：“小兔崽子，别跟你爹学，长大了做个好人！”



1984年，我刚刚初中毕业，中考成绩全县第一。在那间飘着炖鸡香味的土坯平房里，我上了人生的第一堂伦理课：做个好人。


那夜里我背着爸爸回家，他一直没说话，路上摔了一跤，半天爬不起来。他摸着我的脸问我：“儿子，你能考上大学吧？”

我说：“一定能！”

他沉默了半天，一字一句地说：


“学法律。”

我说：“好，学法律！”






——《原谅我红尘颠倒》


by：慕容雪村
==================================================
.
.
.

==================================================
如何评价 THUPC（清华校赛）2018？
Apia Du
场外ob选手从题目角度评价一下


A 简单题，还是比较有趣的一个题。


B 原题，csacademy也出过，BZOJ的链接也被贴出来了。


比较好奇的是这个范围为啥这么大，而且看了眼题解。。。。感觉这辈子第一次看见2e6*2e6的bitset。。。而且感觉打算法竞赛以来都没写过2^24的FFT。


C 从某种意义上来说就是oeis上随便找了个数列，然后让你求出来。


好在这个题oeis上也没有什么formula，不过出这种题原则上还是不要能被oeis到比较好。从题目本身来说我还是比较喜欢的。用的技巧和无标号有根树差不多，不过这玩意好像是六七年前学的，比赛的时候一时半会儿没想起来。还有题解里写的分块FFT。。。都21世纪了CDQ分治还没有深入人心。。。还有人在不用分治再用分块FFT的么。。。？


D n=1的case是原题，来自Ural Championship 2013，也出现在14年的清华夏令营中。


不过n=6和n=1除了难写一点。。。好像没有啥区别啊？


E n=3000的case是原题，来自Topcoder SRM 654.


改成n<=3e5做法感觉没有什么差异，就多了一个多点求值。不过比赛的时候好像失了智。。。对着原题n^2的dp推了很久。。。


F 好像学密码学的时候就见过这东西啊。。。不过很简单就是了= =


G 好像就是把扫描线点定位和动态树无脑结合起来啊？。。。题目有点逐渐三哥化了啊。。。


H "translate directly very chaotic statement into C++"。。。感觉堆10个操作的模拟题。。。也有点三哥化啊。。。


I 感觉做过一个一模一样的题。。。不过忘了出处就不说了。。。


J 一道比较中规中矩的数据结构题吧。。。不过也没有什么亮点。


K 题目本身还行。感觉贵清天天出题出2148473648和100000007。。。有点恶趣味啊。。。


L 感觉还行吧。


M 延续去年。。。的传统？


总结一下。。。


我觉得这套题的最大的问题就是不太新颖和creative。很多题都是在原题的基础上进行了一些修改，或者把某些简单的东西进行了一些拼接，能看到别的题目的影子。CDEGH这五个难题里面没有特别新颖有趣的题。当然会有上面的感觉也可能是因为我做过的题太多了。然后这套题里面我最喜欢的题是A题。对于一道题目我觉得自然新颖有趣比难度更加重要。


然后是题目风格。和去年一样THUPC还是有一种浓厚的OI风格。不过似乎很难形式化地描述OI风格和ICPC风格。题目考察整体偏向于技术和代码方面，没有一些特别有想法的题，这点可能和WF有点五五开。有三个FFT题，这点感觉有点贵国特色。然后这个中文题面也有一种很出戏的感觉。不过这东西好像也没啥办法，OI题train多了出出来的题可能也就是这样。


然后是组题，最大的问题就是少了点中档题吧。。。把一些三哥题换成中档题可能会好一点。


不过这套题和国内区域赛相比还是能算上乘吧，放在Opencup里面能算中上。


嘛。。。说了这么多还是希望贵清校赛能越办越好的，大家体验也能越来越好
==================================================
你用过哪些强大的快捷键？
利兄
我觉得office里面有2个快捷键非常强大，简直是强大到没朋友。


一个是PPT里面的F4，在EXCEL或者word里面也可以用。


Office中的“F4” = 重复上一步操作


什么意思呢？比如我输入“利兄”，按一下F4, 就会自动再输入一遍“利兄”；

案例


F4相当于复制、粘贴、对齐和格式刷。
复制粘贴
输入一段文字后，要想在文档其他部分重复输入，可以直接召唤F4，无需复制粘贴的操作！具体可以看案例一。


复制粘贴+对齐


什么意思呢？就是在复制粘贴过程中，保证复制出的形状与前一个形状对齐。
案例二
如果我想生成4个圆角矩形，而且要保证圆角矩形之间横向对齐，间距相等，该怎么做？
第一步，我们可以先画一个圆角矩形
第二步，按住Ctrl+Shift，然后横向拖动鼠标复制出一个圆角矩形
第三步，按一下F4，就会等间距复制一个圆角矩形




格式刷


什么意思呢？就是我们可以复制上一步动作中的格式样式，比如改变字体，加粗，颜色变化。


案例三
如果我想将上面的4个圆角矩形的颜色更改为橘红色，那该怎么做？
第一步，我们可以先将其中一个圆角矩形的颜色改为橘红色~
第二步，然后选中其它的圆角矩形，按一下F4，就可以了~




同样的道理在文字中也一样，比如我们写好一个PPT，想突出一些关键的信息，我们就可以用F4进行快速的格式刷。


案例四
我们要将傅园慧个人简介中的关键信息标红，该怎么做呢？


第一步，我们可以先将其中的“浙江杭州”改为橘红色~
第二步，然后挨个选中其它的关键信息，按一下F4，就可以了~




表格处理
F4在表格处理上也有着天然独厚的优势，比如我们增加表格的行数，合并单元格，更改颜色等等。
.
.
.

==================================================



## 5.1.2-JSON文件存储

### 2. 读取JSON

Python为我们提供了简单易用的库来实现JSON文件的读写操作，我们可以调用库的loads()方法将JSON文本字符串转为JSON对象，可以通过dumps()方法将JSON对象转为文本字符串。

例如，这里有一段JSON形式的字符串，它是str类型，我们用Python将其转换为可操作的数据结构，如列表或字典

In [7]:
import json

str1 = '''
[{
    "name": "Bob",
    "gender": "male",
    "birthday": "1992-10-18"
}, {
    "name": "Selina",
    "gender": "female",
    "birthday": "1995-10-18"
}]
'''

print(type(str1))
data = json.loads(str1)
print(data)
print(type(data))

<class 'str'>
[{'name': 'Bob', 'gender': 'male', 'birthday': '1992-10-18'}, {'name': 'Selina', 'gender': 'female', 'birthday': '1995-10-18'}]
<class 'list'>

In [9]:
print(data[0]['name'])
print(data[0].get('name'))

Bob
Bob

In [10]:
print(data[0].get('age'))
print(data[0].get('age', 25))

None
25

JSON的数据需要用双引号来包围，不能使用单引号

In [14]:
import json

with open('data.json', 'r') as file:
    str1 = file.read()
    data = json.loads(str1)
    print(data)

[{'name': 'Bob', 'gender': 'male', 'birthday': '1992-10-18'}, {'name': 'Selina', 'gender': 'female', 'birthday': '1995-10-18'}]

注意 ：
1. data.json 文本内的内容 如下 ：

```
[{
    "name": "Bob",
    "gender": "male",
    "birthday": "1992-10-18"
}, {
    "name": "Selina",
    "gender": "female",
    "birthday": "1995-10-18"
}]
```

是双引号 

2. 代码执行完出来后 是单引号 


### 3. 输出JSON

另外，我们还可以调用dumps()方法将JSON对象转化为字符串。例如，将上例中
的列表重新写入文本：

In [16]:
import json

data = [{
    'name': 'Bob',
    'gender': 'male',
    'birthday': '1992-10-18'
}]

with open('data.json', 'w') as file:
    file.write(json.dumps(data))

In [17]:
with open('data1.json', 'w') as file:
    file.write(json.dumps(data, indent=2))

In [18]:
import json

data = [{
    'name': '王伟',
    'gender': '男',
    'birthday': '1992-10-18'
}]
with open('data2.json', 'w') as file:
    file.write(json.dumps(data, indent=2))

In [20]:
with open('data3.json', 'w', encoding='utf-8') as file:
    file.write(json.dumps(data, indent=2, ensure_ascii=False))

## 5.1.3-CSV文件存储

CSV，全称为Comma-Separated Values，中文可以叫作逗号分隔值或字符分隔值，其文件以纯文本形式存储表格数据。该文件是一个字符序列，可以由任意数目的记录组成，记录间以某种换行符分隔。每条记录由字段组成，字段间的分隔符是其他字符或字符串，最常见的是逗号或制表符。不过所有记录都有完全相同的字段序列，相当于一个结构化表的纯文本形式。它比Excel文件更加简介，XLS文本是电子表格，它包含了文本、数值、公式和格式等内容，而CSV中不包含这些内容，就是特定字符分隔的纯文本，结构简单清晰。所以，有时候用CSV来保存数据是比较方便的。本节中，我们来讲解Python读取和写入CSV文件的过程。

In [21]:
import csv

with open('data.csv', 'w') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['id', 'name', 'age'])
    writer.writerow(['10001', 'Mike', 20]) 
    writer.writerow(['10002','Bob', 22])
    writer.writerow(['10003', 'Jordan', 21])

In [22]:
import csv

with open('data.csv', 'w') as csvfile:
    writer = csv.writer(csvfile, delimiter=' ')
    writer.writerow(['id', 'name', 'age'])
    writer.writerow(['10001', 'Mike', 20]) 
    writer.writerow(['10002','Bob', 22])
    writer.writerow(['10003', 'Jordan', 21])

In [24]:
import csv

with open('data.csv', 'a') as csvfile:
    writer = csv.writer(csvfile, delimiter=' ')
    writer.writerow(['id', 'name', 'age'])
    writer.writerows([['10001', 'Mike', 20], ['10002', 'Bob', 22], ['10003', 'Jordan', 21]])

In [25]:
import csv 

with open('data1.csv', 'w') as csvfile:
    fieldnames = ['id', 'name', 'age']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerow({'id':'10001', 'name':'Mike', 'age': 20})
    writer.writerow({'id': '10002', 'name': 'Bob', 'age': 22})
    writer.writerow({'id': '10003', 'name': 'Jordan', 'age': 21})

In [26]:
import csv

with open('data.csv', 'a') as csvfile:
    fieldnames = ['id', 'name', 'age']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writerow({'id': '10004', 'name': 'Durant', 'age': 22})

In [27]:
import csv

with open('data.csv', 'a', encoding='utf-8') as csvfile:
    fieldnames = ['id', 'name', 'age']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writerow({'id': '10005', 'name': '王伟', 'age': 22})

In [28]:
import csv

with open('data.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    
    for row in reader:
        print(row)

['id name age']
[]
['10001 Mike 20']
[]
['10002 Bob 22']
[]
['10003 Jordan 21']
[]
['id name age']
[]
['10001 Mike 20']
[]
['10002 Bob 22']
[]
['10003 Jordan 21']
[]
['10004', 'Durant', '22']
[]
['10005', '王伟', '22']
[]

In [32]:
import pandas as pd

df = pd.read_csv('data.csv')
print(df)
print(type(df))

       id name age
0    10001 Mike 20
1     10002 Bob 22
2  10003 Jordan 21
3      id name age
4    10001 Mike 20
5     10002 Bob 22
6  10003 Jordan 21
<class 'pandas.core.frame.DataFrame'>

## 5.2-关系型数据库存储

### 5.2.1-MySQL存储

In [ ]:
import pymysql

db = pymysql.connect(host='localhost',user='root', password='123456', port=3306)
cursor = db.cursor()
cursor.execute('SELECT VERSION()')
data = cursor.fetchone()
print('Database version:', data)
cursor.execute("CREATE DATABASE spiders DEFAULT CHARACTER SET utf8")
db.close()

In [45]:
import pymysql

db = pymysql.connect(host='localhost', user='root', password='123456', port=3306, db='spiders')
cursor = db.cursor()
sql = 'CREATE TABLE IF NOT EXISTS students (id VARCHAR(255) NOT NULL, name VARCHAR(255) NOT NULL, age INT NOT NULL, PRIMARY KEY (id))'
cursor.execute(sql)
db.close()

In [46]:
import pymysql 

id = '20180001'
user= 'Bob'
age = 20

db = pymysql.connect(host='localhost', user='root', password='123456',port=3306, db='spiders')
cursor = db.cursor()
sql = 'INSERT INTO students(id, name, age) values(%s, %s, %s)'
try:
    cursor.execute(sql, (id, user, age))
    db.commit()
except:
    db.rollback()
db.close()

In [54]:
db = pymysql.connect(host='localhost', user='root', password='123456',port=3306, db='spiders')
cursor = db.cursor()

data = {
    'id': '20120001',
    'name': 'Bob',
    'age': 20
}
table = 'students'
keys = ', '.join(data.keys())
values = ', '.join(['%s'] * len(data))
sql = 'INSERT INTO {table}({keys}) VALUES ({values})'.format(table=table, keys=keys, values=values)
try:    
    if cursor.execute(sql, tuple(data.values())):
        print('Successful')
        db.commit()
except:
    print('Failed')
    db.rollback()
db.close()

Successful

In [56]:
db = pymysql.connect(host='localhost', user='root', password='123456',port=3306, db='spiders')
cursor = db.cursor()

sql = 'UPDATE students SET age = %s WHERE name = %s'
try:
    cursor.execute(sql, (25, 'Bob'))
    db.commit()
except:
    db.rollback()
db.close()

In [57]:
db = pymysql.connect(host='localhost', user='root', password='123456',port=3306, db='spiders')
cursor = db.cursor()

data = {
    'id': '20120001',
    'name': 'Bob',
    'age': 21
}

table = 'students'
keys = ', '.join(data.keys())
values = ', '.join(['%s'] * len(data)) # %s %s %s

sql = 'INSERT INTO {table}({keys}) VALUES ({values}) ON DUPLICATE KEY UPDATE'.format(table=table, keys=keys, values=values)
update = ','.join([" {key} = %s".format(key=key) for key in data])
sql += update
try:
    if cursor.execute(sql, tuple(data.values())*2):
        print('Successful')
        db.commit()
except:
    print('Failed')
    db.rollback()
db.close()

Successful

In [58]:
db = pymysql.connect(host='localhost', user='root', password='123456',port=3306, db='spiders')
cursor = db.cursor()

table = 'students'
condition = 'age > 20'
sql = 'DELETE FROM {table} WHERE {condition}'.format(table=table, condition=condition)
try:
    cursor.execute(sql)
except:
    db.rollback()
db.close()

In [60]:
db = pymysql.connect(host='localhost', user='root', password='123456',port=3306, db='spiders')
cursor = db.cursor()

sql = 'SELECT * FROM students WHERE age >= 20'

try:
    cursor.execute(sql)
    print('Count:', cursor.rowcount)
    one = cursor.fetchone()
    print('One:', one)
    results = cursor.fetchall()
    print('Results:', results)
    print('Result type:', type(results))
    for row in results:
        print(row)
except:
    print('Error')

Count: 2
One: ('20120001', 'Bob', 21)
Results: (('20180001', 'Bob', 25),)
Result type: <class 'tuple'>
('20180001', 'Bob', 25)

In [61]:
db.close()

In [63]:
db = pymysql.connect(host='localhost', user='root', password='123456',port=3306, db='spiders')
cursor = db.cursor()

sql = 'SELECT * FROM students WHERE age >= 20'

try:
    cursor.execute(sql)
    print('Count:', cursor.rowcount)
    row = cursor.fetchone()
    while row:
        print('Row:', row)
        row = cursor.fetchone()
except:
    print('Error')

Count: 2
Row: ('20120001', 'Bob', 21)
Row: ('20180001', 'Bob', 25)

In [78]:
import pymongo
client = pymongo.MongoClient(host='localhost', port=27017)

In [66]:
client = pymongo.MongoClient('mongodb://localhost:27017/')

In [79]:
db = client.test
# db = client['test']

In [80]:
collection = db.students
# collection = db['students']

In [81]:
student = {
    'id': '20170101',
    'name': 'Jordan',
    'age': 20,
    'gender': 'male'
}

result = collection.insert_one(student)
print(result)

<pymongo.results.InsertOneResult object at 0x000001F3079437C8>

In [82]:
student1 = {
    'id': '20170101',
    'name': 'Jordan',
    'age': 20,
    'gender': 'male'
}

student2 = {
    'id': '20170202',
    'name': 'Mike',
    'age': 21,
    'gender': 'male'
}

result = collection.insert_many([student1, student2])
print(result)

<pymongo.results.InsertManyResult object at 0x000001F307943D08>

In [83]:
type(collection)

pymongo.collection.Collection

In [84]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'students')

In [85]:
result = collection.find_one({'name': 'Mike'})
print(type(result))
print(result)

<class 'dict'>
{'_id': ObjectId('5afd35e6689a04396020a788'), 'id': '20170202', 'name': 'Mike', 'age': 21, 'gender': 'male'}

In [86]:
from bson.objectid import ObjectId

result = collection.find_one({'_id': ObjectId('5afd35e6689a04396020a788')})
print(result)

{'_id': ObjectId('5afd35e6689a04396020a788'), 'id': '20170202', 'name': 'Mike', 'age': 21, 'gender': 'male'}

In [88]:
results = collection.find({'age':20})
print(results)
for result in results:
    print(result)

<pymongo.cursor.Cursor object at 0x000001F30794B208>
{'_id': ObjectId('5afd35e3689a04396020a786'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': 'male'}
{'_id': ObjectId('5afd35e6689a04396020a787'), 'id': '20170101', 'name': 'Jordan', 'age': 20, 'gender': 'male'}

In [91]:
results = collection.find({'age':{'$gt':20}})
print(results)
for result in results:
    print(result)

<pymongo.cursor.Cursor object at 0x000001F30794BBE0>
{'_id': ObjectId('5afd35e6689a04396020a788'), 'id': '20170202', 'name': 'Mike', 'age': 21, 'gender': 'male'}

In [94]:
results = collection.find({'name': {'$regex':'^M.*'}})

<generator object <genexpr> at 0x000001F307944E60>

In [96]:
count = collection.find().count()
print(count)

count1 = collection.find({'age':20}).count()
print(count1)

3
2

In [97]:
results = collection.find().sort('name', pymongo.ASCENDING)
print([result['name'] for result in results])

['Jordan', 'Jordan', 'Mike']

In [99]:
results = collection.find().sort('name', pymongo.ASCENDING).skip(2)
print([result['name'] for result in results])

['Mike']

In [100]:
results = collection.find().sort('name', pymongo.ASCENDING).skip(1).limit(2)
print([result['name'] for result in results])

['Jordan', 'Mike']

In [101]:
from bson.objectid import ObjectId
collection.find({'_id': {'$gt': ObjectId('5afd35e6689a04396020a788')}})

In [110]:
condition = {'name':'Jordan'}
student = collection.find_one(condition)
student['age'] = 20
result = collection.update_one(condition, {'$set':student})
print(result)

<pymongo.results.UpdateResult object at 0x000001F30790C708>

In [108]:
result = collection.update_one(condition, {'$set':student})
print(result)

<pymongo.results.UpdateResult object at 0x000001F307924B08>

In [111]:
condition = {'age': {'$gt': 20}}
result = collection.update_many(condition, {'$inc': {'age': 1}})
print(result)
print(result.matched_count, result.modified_count)

<pymongo.results.UpdateResult object at 0x000001F3079249C8>
1 1

In [114]:
result = collection.delete_one({'name':'Jordan'})
print(result)

<pymongo.results.DeleteResult object at 0x000001F307943248>